@import "../../../../styles/mixins.scss";
@import "../../../../styles/colors.scss";

.title-bar {
  @include flex-center();
  width: 100%;
  h1 {
    font-family: HelveticaNeue;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.33;
    letter-spacing: 1.25px;
    text-align: center;
    color: $black;
  }
  &.start {
    @include flex-start();
  }
  &.end {
    @include flex-end();
  }
}
