@import "../../../styles/mixins.scss";
@import "../../../styles/colors.scss";

.navbar {
  width: 100vw;
  @include flex-between();
  @include md() {
    @include flex-around();
  }
}

.left-navbar {
  @include flex-center();
  margin-left: 20px;
}

.right-navbar {
  @include flex-center();
  width: 40%;
  & > * {
    margin-left: 31px;
  }
  &:last-child {
    margin-left: 20px;
  }
}
.routes {
  // @include md {
  // }
  @include flex-center();

  & > * {
    margin-left: 28px;
  }
}
.route-item {
  letter-spacing: 1.92px;
  width: 110px;
}

.navbar-input {
  height: 34px;
  font-size: 18px;
  // display: none;

  @include md {
    display: inline-block;
    width: 315px;
  }

  @include lg {
    width: 415px;
  }
}

.right-nav-icon {
  height: 15px;
  width: auto;

  @include md() {
    height: 22px;
  }
}
.left-nav-icon {
  height: 14px;
  width: auto;
}
