@import "../../../styles/mixins.scss";
@import "../../../styles/colors.scss";

.navbar {
  @include flex-around();
  width: 100vw;
  padding: 10px;
}

.left-navbar {
  @include flex-center();
}
.right-navbar {
  @include flex-around();
  width: 40%;
}
.routes {
  @include flex-around();
}
.route-item {
  letter-spacing: 1.92px;
  margin: 6px;
}
