@import "../../../styles/mixins.scss";
.dishes-section {
  margin-top: 87px;
  padding: 0 20px;

  @include sm() {
    padding: 0 10%;
  }

  @include xl() {
    padding: 0 169px;
  }
}

.dishes-title {
  margin-bottom: 42px;

  @include max-xl() {
    margin-bottom: 13px;

    h1 {
      font-size: 14px;
      font-weight: 100;
      letter-spacing: 0.93px;
      word-wrap: normal;
    }
  }
}
