@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.grey {
  background-color: $lightGrey;
}

.icons-container {
  //   width: 100%;
  margin-right: 509.6px;

  margin-left: 507px;
  @include flex-center();
}

.icon-item {
  @include flex-around(column);
  span {
    font-family: HelveticaNeue;
    font-size: 25.2px;
    font-weight: 100;
    margin: 0 50px;
    letter-spacing: 1.94px;
    text-align: center;
    color: var(--black);
  }
}
