@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";

.grey {
  background-color: $lightGrey;
}

.icons-container {
  width: 70%;
  margin: 20px 0;
  @include flex-around();
}

.icon-item {
  @include flex-around(column);
  span {
    font-family: HelveticaNeue;
    font-size: 25.2px;
    font-weight: 100;
    margin: 20px 0;
    letter-spacing: 1.94px;
    text-align: center;
    color: var(--black);
  }
}
