@import "./breakpoints.scss";

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
@mixin customScreen($screen) {
  @media (min-width: ($screen+"px")) {
    @content;
  }
}

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@mixin flex-start($direction: row) {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: $direction;
}
@mixin flex-end($direction: row) {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: $direction;
}
@mixin flex-between($direction: row) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: $direction;
}
@mixin flex-around($direction: row) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: $direction;
}
