@import "../../../styles/mixins.scss";

.footer {
  width: 100%;
  min-height: 100px;
  margin-bottom: 23px;
  @include flex-center(column);
  @include md() {
    @include flex-center();
  }
  .footer-item {
    height: 15px;
    font-family: HelveticaNeue;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 1.13px;
    margin: 17px 0 0;
    @include md() {
      height: 21px;
      margin: 0 45px 0 0;
      font-size: 18px;
      letter-spacing: 1.13px;
    }
  }
}
