@import "../../../styles/mixins.scss";
@import "../../../styles/colors.scss";

.restaurants-section {
  width: 100vw;
  padding: 100px;
  @include flex-center(column);
}

.restaurants-inner-container {
  width: 80vw;
}

.restaurant-Carousel {
  @include flex-between();
}

.restaurant-footer {
  margin-top: 30px;
  @include flex-end();
  button {
    all: unset;
    cursor: pointer;
    @include flex-center();
    span {
      font-family: HelveticaNeue;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 2px;
      text-align: center;
      color: $black;
      margin: 0 10px;
    }
  }
}
