@import "../../../../styles/mixins.scss";
@import "../../../../styles/colors.scss";

.card-container {
  @include flex-center(column);
}

.hover-title {
  font-family: HelveticaNeue;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.77px;
  text-align: center;
  color: $black;
}

.card {
  width: 360px;
  height: 357px;
  background-color: $beige;
}

.card-image {
  width: 100%;
  margin-bottom: 20px;
}

.card-title {
  font-family: HelveticaNeue;
  font-size: 38.4px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 2.56px;
  text-align: center;
  color: $black;
}

.card-subtitle {
  font-family: HelveticaNeue;
  font-size: 24px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 1.6px;
  text-align: center;
  color: $black;
}

.logo-bar {
  @include flex-center();
}

.card-price-bar {
  padding: 10px;
}

.bar {
  margin: 5px;
  height: 1px;
  border: solid 0.5px $brownGrey;
}
.price {
  font-family: HelveticaNeue;
  font-size: 24.9px;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.66px;
  color: $black;
}
